<%= erb :'partials/header', :locals => { title: level['name'] } %>
<body>
  <div class="container-fluid">
    <%= erb :'partials/sidebar', :locals => { levels: levels } %>

    <div class="main-content">
      <%= erb :'partials/level-header', :locals => { level: level } %>
      <%= erb :'partials/text', :locals => { level: level } %>

      <div class="row">
        <div class="col-md-6">
          <h2>Rule</h2>
          <p>Edit/type your Suricata rule(s) below (one/line)</p>

          <textarea id="rule" class="code" spellcheck="false" placeholder="Put your Suricata rule here (click 'Reset' to go back to the original)"><%= level['base_rule'] %></textarea>
          <div class="button-group">
            <button id="send" class="btn btn-sm btn-primary">Test rule</button>
            <button id="reset" class="btn btn-sm btn-secondary">Reset</button>
          </div>
        </div>

        <div class="col-md-6">
          <h2>Evil request(s)</h2>

          <p>Your goal is to block all of these request:</p>

          <% for evil_request in level['evil_requests'] %>
            <pre class="code" id="evil-request-<%= evil_request['id'] %>" style="min-height: 0px"><%= evil_request['request'] %></pre>
          <% end %>

          <h2>Innocent request(s)</h2>

          <p>You must NOT block these requests:</p>

          <% for innocent_request in level['innocent_requests'] %>
            <pre class="code" id="innocent-request-<%= innocent_request['id'] %>" style="min-height: 0px"><%= innocent_request['request'] %></pre>
          <% end %>
        </div>
      </div>

    </div>
  </div>
  <%= erb :'partials/scripts' %>
  <script src="/suricata.js"></script>
</body>
</html>
